.orange {
    color: #FD6E0A;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;

}

.top-bar-cornar {
    font-size: 50px;
    font-weight: 800;
    margin-left: 150px;
    margin-top: 50px;
}

.full-top {
    align-items: center;
}

.header-up {
    text-align: center;
    margin-top: 50px;

}

.header-up a {
    text-decoration: none;
    margin-right: 50px;
}

.btn-colour {
    background-color: #FD6E0A;
    color: white;
    padding: 15px 35px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border: 0px;

}

#Hire-position {
    margin-right: 200px;
}

.mid-heading {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 5px;

}

.header-mid {
    display: flex;
    gap: 130px;
}

.mary-titel {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 5px;
}

.mid-tex-position {
    margin-left: 230px;

}

header {
    background-color: #FFF8F3;
    background-image: url('../images/images/header_bg.png'), url('../images/images/developer.png');
    ;
    background-repeat: no-repeat;
    background-position: bottom right, left bottom;

    width: 1600px;
    height: 840px;
}

.about-item {
    margin: 130px 150px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 100px 150px;

}

.about-heading {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    
}

.about-description{
    text-align: center;
    margin-bottom: 30px;
  
}

.about-footer{
    display: flex;
    justify-content: space-around;
}
.person-info{
    
    text-align: center;
    justify-content: space-around;
    margin-right: 40px;
}
.about-person-titel{
    color: #757575;
}

.part-of-what-i-do{
    text-align: center;
    margin: 0px 350px;
}
.what-i-do-titel{
    font-size: 30px;
    font-weight: 700;
}
.what-i-do-description{
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.what-i-do-footer{
    display: flex;
    justify-content: space-around;
}
.what-i-do-box{
    width: 270px;
    height: 280px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 6px 5px 0px;
    background-color:#FFF8F3; 
    padding: 30px;
    margin-top:30px;
}